<div class="page-wrap bg-blue">
    <div class="text-center mt-4" data-aos="fade-up " data-aos-delay="100 ">
        <hr class="main_line">
        <h2 class="border-top-style mb-3 maiHead">CIRCULARS</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="col-12">
            <li class="listClass">
                <a class="anchorTag" (click)= "downloadSSB()">SSB exemption to HQ rule</a>
            </li>
            <li class="listClass">
                <a class="anchorTag" (click)= "downloadCommisionRate()">Revised Standard Operating Procedure for CCC</a>
            </li>
            <li class="listClass">
                <a class="anchorTag" (click)= "downloadAbulance()">Ambulance Details </a>
            </li>
        </ul>
        
    </div>
</div>